<h2>Login</h2>

<form action="LoginUser" method="post">

    <div>
        <label>Username</label>
        <input type="text" name="Username" />
    </div>

    <div>
        <label>Password</label>
        <input type="text" name="Password" />
    </div>
        
    <div>
        <button type="submit">Login</button>
    </div>



</form>