
<h1>Bienvenido</h1>

<h3>Crud Usuario</h3>
<a href="/CrudUserController/Create">Create new User</a>
<a href="/CrudUserController/Update">Update an User</a>
<a href="/CrudUserController/Delete">Delete an User</a>
<a href="/CrudUserController/Read">View an User</a>